.cookiePolicy {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $default-blue;
  min-height: 72px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;

  .inner {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;

    & p {
      @include text();
      color: $default-white;
      padding-right: 16px;
      font-size: 12px;
      font-weight: 300;
    }

    & button {
      border: none;
      background: $default-white;
      border-radius: 6px;
      height: 32px;
      width: 132px;
      color: $default-blue;
      cursor: pointer;
      font-weight: 600;

      @media screen and (max-width: $width-mobile-wide) {
        width: 100%;
      }
    }

    @media screen and (max-width: $width-tablet) {
      flex-direction: column;
    }
  }
}
