.editBuilding {
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 20px;

  .header {
    display: flex;
    align-items: center;

    .back {
      margin-right: 30px;
      text-transform: capitalize;
    }

    h1 {
      color: #006a27;
    }

    @media screen and (max-width: $width-laptop) {
      .back {
        display: none;
      }
      h1 {
        font-size: 22px;
      }
    }
  }

  .editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .input {
      width: 100%;
      max-width: 600px;
      margin-bottom: 20px;
    }

    .select {
      width: 100%;
      max-width: 600px;
      margin-bottom: 20px;

      label {
        //padding: 5px 10px;
      }
    }

    .delete {
      margin-right: 20px;
      color: red;
    }

    .save {
      background: #006a27;
      color: #ffffff;
    }
  }
}
