@mixin button {
  box-sizing: border-box;
  background: $default-blue;
  border: 1px solid;
  border-color: $default-blue;
  border-radius: 6px;
  padding: 12px 39px;
  cursor: pointer;
  outline: none;
  color: rgb(255, 255, 255);
  font-family: $default-font;
  font-size: 16px;
  font-weight: 600;
  transition: 0.2s ease-out;
  height: 48px;
  white-space: nowrap;
  user-select: none;

  &:disabled {
    opacity: 0.4;
    border: 1px solid $default-black;
    cursor: default;
    background: white;
    color: $default-black;
  }
}

.button {
  @include button();
}

.dimmed {
  opacity: 0.4;
  border: 1px solid $default-black;
  background: white;
  color: $default-black;

  &:hover {
    opacity: 1;
    background: $default-blue;
    border-color: $default-blue;
    color: rgb(255, 255, 255);
  }
}

.outline {
  background-color: transparent;
  color: $default-black;
  opacity: 0.5;
}

.warning {
  color: $default-white;
  background-color: $default-red;
  border-color: $default-red;
}

.link {
  color: $default-black;
  background-color: transparent;
  border-color: transparent;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.warningLink {
  color: $default-red;
  background-color: transparent;
  border-color: transparent;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

.small {
  height: 28px;
  padding: 6px 12px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.large {
  height: 64px;
}
