.menuButton {
  @include text();
  color: $default-black;
  border-radius: 6px;
  height: 48px;
  width: 100%;
  background-color: transparent;
  border: none;
  text-align: left;
  padding: 16px;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: $default-hover-grey;
    color: $default-black;
  }
}

.active {
  background-color: $default-black;
  color: $default-white;
}
