.input {
  display: flex;
  box-sizing: border-box;
  height: 48px;
  border-radius: 6px;
  border: 1px solid rgb($default-blue, 0.4);
  position: relative;
  overflow: hidden;

  .text {
    box-sizing: border-box;
    border: none;
    background: none;
    padding: 20px 14px 6px 12px;
    width: 100%;
    outline: none;
    color: $default-black;
    font-family: $default-font;
    font-weight: normal;
    font-size: 16px;

    &:-webkit-autofill,
    :-webkit-autofill:hover,
    :-webkit-autofill:focus {
      color: $default-black !important;
      font-family: $default-font !important;
      font-weight: normal !important;
      font-size: 16px !important;
    }
  }

  .rightIcon {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }

  .leftIcon {
    display: flex;
    align-items: center;
    margin-left: 15px;
  }

  .labelLeft {
    margin-left: 35px;
  }

  .label {
    opacity: 0.4;
    color: $default-black;
    font-family: $default-font;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    width: calc(100% - 24px);
    left: 12px;
    top: 14px;
    pointer-events: none;
    transition: 0.2s ease-out;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .activeLabel {
    font-size: 10px;
    top: 6px;
  }

  .invalidLabel {
    color: $default-red;
    opacity: 1;
  }
}

.invalid {
  border-color: $default-red;
}

.errorWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;

  .errorMessage {
    font-family: $default-font;
    font-size: 10px;
    font-weight: normal;
    color: $default-red;
    margin-top: 2px;
  }
}

.disabled {
  background: rgb($default-blue, 0.04);
}
