// Global styles
@import '~react-image-gallery/styles/scss/image-gallery.scss';
@import '~video-react/styles/scss/video-react';
@import 'vars';

html {
  height: 100%;
  background: -webkit-linear-gradient(to top, #274046, #e6dada);
  background: linear-gradient(to bottom, #274046, #e6dada);
}

body {
  margin: 0;
  font-family: Open Sans, sans-serif;
  box-sizing: border-box;
  min-height: 100%;
  background: -webkit-linear-gradient(to top, #274046, #e6dada);
  background: linear-gradient(to bottom, #274046, #e6dada);
}

main {
  display: block;
}

div,
button {
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4 {
  user-select: none;
}

//noinspection ALL
@font-face {
  font-family: 'Greece';
  src: url('/font/DS_Greece.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
