.admin {
  padding-top: 10px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      color: #ffffff;
      font-family: Roboto, sans-serif;
    }
    .btn {
      color: #ffffff;
      font-family: Roboto, sans-serif;
      font-weight: bold;

      .exit {
        color: #ffffff;
        margin-left: 5px;
      }
    }
  }

  .tabs {
    background-color: #ffffff;
    color: #000;
    border-bottom: 0.5px solid #333;
  }

  .tab {
    background-color: #ffffff;
    min-height: 80vh;
  }

  .mobileNav {
    padding-top: 10px;
    width: 100%;
    overflow-x: auto;

    @media screen and (max-width: $width-mobile-wide) {
      button {
        padding: 0;
      }

      span span {
        display: none;
      }
    }
  }
}
