.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  @include text();
  visibility: hidden;
  width: 120px;
  background-color: $default-black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: $default-black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

//left
.tooltipLeft {
  position: relative;
  display: inline-block;
}

.tooltipLeft .tooltiptext {
  @include text();
  visibility: hidden;
  width: 120px;
  background-color: $default-black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  height: 22px;
  top: -5px;
  left: -64px;
}

.tooltipLeft .tooltiptext::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 125px;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent $default-black;
}
.tooltipLeft:hover .tooltiptext {
  visibility: visible;
}

//right
.tooltipRight {
  position: relative;
  display: inline-block;
}

.tooltipRight .tooltiptext {
  @include text();
  visibility: hidden;
  width: 120px;
  background-color: $default-black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  height: 22px;
  z-index: 1;
  top: -5px;
  left: 85px;
}

.tooltipRight .tooltiptext::after {
  content: '';
  position: absolute;
  top: 16px;
  left: -5px;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent $default-black transparent transparent;
}
.tooltipRight:hover .tooltiptext {
  visibility: visible;
}
