.accountInput {
  display: flex;
  box-sizing: border-box;
  height: 48px;
  border-radius: 6px;
  border: 1px solid;
  border-color: transparent;
  background: rgb($default-blue, 0.04);

  .text {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: none;
    background: none;
    padding: 0 24px 0 14px;
    width: 100%;
    outline: none;
    color: $default-black;
    font-family: $default-font;
    font-weight: normal;
    font-size: 16px;
  }

  .text:disabled + & {
    border: 1px solid green;
  }

  .leftIcon {
    align-self: center;
    margin-left: 15px;
  }
}
